version: 2

jobs:
    build:
        working_directory: ~/ci-test
        # The primary container is an instance of the first list image listed. Your build commands run in this container.
        docker:
            - image: circleci/node:6-browsers
              environment:
                  CHROME_BIN: "/usr/bin/google-chrome"
        steps:
            - checkout
            - run:
                name: Show current branch
                command: echo ${CIRCLE_BRANCH}
            - restore_cache:
                keys:
                - v1-dependencies-{{ checksum "package.json" }}
                - v1-dependencies-
            - run:
                name: Install latest cli
                command: npm i @angular/cli@^1.2.6
            - run:
                name: Install dependencies
                command: npm install
            - save_cache:
                key: v1-dependencies-{{ checksum "package.json" }}
                paths:
                    - ./node_modules
            - run:
                name: Linting
                command: npm run lint
            - run:
                name: Run unit tests with karma
                command: npm run test
            - store_test_results:
                path: test-results.xml
            # Build the project
            - run: |
                if [ "${CIRCLE_BRANCH}" == "staging" ]; then
                    npm run build-qa
                elif [ "${CIRCLE_BRANCH}" == "master" ]; then
                    npm run build-prod
                else
                    npm run build-dev
                fi
            - save_cache:
                key: v1-dist-{{ .Environment.CIRCLE_BRANCH }}-{{ .Environment.CIRCLE_SHA1 }}
                paths:
                    - dist
