version: 2

jobs:
    build:
        working_directory: ~/ci-test
        # The primary container is an instance of the first list image listed. Your build commands run in this container.
        docker:
            - image: circleci/node:6-browsers
              environment:
                  CHROME_BIN: "/usr/bin/google-chrome"
        steps:
            - checkout
            - run:
                name: Show current branch
                command: echo ${CIRCLE_BRANCH}
            - restore_cache:
                keys:
                - v1-dependencies-{{ checksum "package.json" }}
                - v1-dependencies-
            - run:
                name: Install dependencies
                command: npm install
            - save_cache:
                key: v1-dependencies-{{ checksum "package.json" }}
                paths:
                    - ./node_modules
            - run:
                name: Linting
                command: npm run lint
            - run:
                name: Run unit tests with karma
                command: npm run test
            - store_test_results:
                path: test-results.xml
            # Build the project
            - run: |
                if [ "${CIRCLE_BRANCH}" == "staging" ]; then
                    npm run build-qa
                elif [ "${CIRCLE_BRANCH}" == "master" ]; then
                    npm run build-prod
                else
                    npm run build-dev
                fi
            - save_cache:
                key: v1-dist-{{ .Environment.CIRCLE_BRANCH }}-{{ .Environment.CIRCLE_SHA1 }}
                paths:
                    - dist

    deploy:
        working_directory: ~/ci-test
        docker:
            - image: circleci/node:6.10-browsers
        steps:
            - run:
                name: Show current branch
                command: echo ${CIRCLE_BRANCH}
            - restore_cache:
                key: v1-dist-{{ .Environment.CIRCLE_BRANCH }}-{{ .Environment.CIRCLE_SHA1 }}
            - run:
                name: Install aws cli
                command: sudo apt-get -y -qq- install awscli
            - run:
                name: Deploy to s3
                command: |
                    if [ "${CIRCLE_BRANCH}" == "develop" ]; then
                        aws s3 sync dist s3://yihuazhang.com/ --delete
                    elif [ "${CIRCLE_BRANCH}" == "staging" ]; then
                        aws s3 sync dist s3://yihuazhang.com/ --delete
                    elif [ "${CIRCLE_BRANCH}" == "master" ]; then
                        aws s3 sync dist s3://yihuazhang.com/ --delete
                    fi

workflows:
    version: 2
    build_and_deploy:
        jobs:
            - build
            - deploy:
                requires:
                    - build
                filters:
                    branches:
                        only:
                            - develop
                            - staging
                            - master